.landing-page
  %section.panel.landing-panel
    .center-block.landing-title
      %h1 Dave Schaaf
      %h2 Don't get too comfortable
  %section.panel.quote-panel
    .center-block.quote
      %h2 "To be is to do - Socrates
      %h2  To do is to be - Sartre
      %h2  Do Be Do Be Do - Sinatra”
      %h3 ― Kurt Vonnegut
  %footer.panel
    %p I like turtles
