%section.resume-section.container-fluid
  %h3 Education & Training
  .row
    .resume-company.col-xs-8 Dev Bootcamp
    .resume-date.col-xs-4 2014
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Led team of 3 students to build location-based photo sharing app in 7 days as capstone project
  .row
    .resume-company.col-xs-8 Northwestern University
    .resume-date.col-xs-4 2008
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet B.A. in Mathematical Methods in the Social Sciences and Economics

%section.resume-section.container-fluid
  %h3 Skills & Knowledge
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Languages - Ruby, JavaScript, HTML, CSS, SQL
      %li.resume-bullet Frameworks - Rails, Sinatra, PhoneGap
      %li.resume-bullet Testing - RSpec, Jasmine, Capybara
      %li.resume-bullet Design - Object Orientation, Model-View-Controller
      %li.resume-bullet Tools - Object-relational databases, jQuery, Ajax, Git, Heroku, Firebase
      %li.resume-bullet Development Practices - Git workflow, Agile development, Pair programming

%section.resume-section.container-fluid
  %h3 Projects
  .row
    .resume-company.col-xs-8 Sugarsnap
    %ul.resume-content.col-xs-12
      %li.resume-bullet Share photos with the people around you based on your location
      %li.resume-bullet Track places your visited recently to see what is going on in your world
      %li.resume-bullet Moved Sugarsnap to iOS using PhoneGap


%section.resume-section.container-fluid
  %h3 Professional Experience
  .row
    .resume-company.col-xs-8 Cisco Systems, Inc.
    .resume-date.col-xs-4 July 2011-January 2014
  .row
    .resume-title.col-xs-7 Associate, Corporate Development
    .resume-location.col-xs-5 Singapore; Banglalore, India
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Vetted prospective investments to assess market, technology, and business model
      %li.resume-bullet Sourced investment opportunities from market research, industry partners, and cold calls
      %li.resume-bullet Organizated presentation of 2 investments to Investment Review Board
  .row
    .resume-title.col-xs-9 Associate, Corporate Development
    .resume-location.col-xs-3 San Jose, CA
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Led valuation of potential acquisitions in security, cloud, and core networking
      %li.resume-bullet Performed technical, financial, and operating due diligence on live transactions
      %li.resume-bullet Audited Security group operations including product management, engineering, and sales
  .row
    .resume-company.col-xs-8 J.P. Morgan Securities LLC
    .resume-date.col-xs-4 July 2008-June 2011
  .row
    .resume-title.col-xs-9 Analyst, Investment Banking
    .resume-location.col-xs-3 Chicago, IL
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Executed 25 capital markets transactions raising over $12 billion of capital for clients
      %li.resume-bullet Constructed operating and merger models to inform financial and strategic analysis
      %li.resume-bullet Synthesized market and company data across multiple industries for client upresume-dates and presentations

%section.resume-section.container-fluid
  %h3 Selected Acquisitions & Other Transactions
  .row
    .resume-company.col-xs-8 Cisco Systems, Inc.
    .resume-date.col-xs-4 July 2011-January 2014
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet Sourcefire: Established Security group’s three-year operating plan and acquisition strategy
      %li.resume-bullet Cognitive Security: Determined valuation by constructing financial model from due diligence
      %li.resume-bullet Clear Access: Developed business case and wrote comunications messaging
  .row
    .resume-company.col-xs-8 J.P. Morgan Securities LLC
    .resume-date.col-xs-4 June 2008-June 2011
  .row
    %ul.resume-content.col-xs-12
      %li.resume-bullet The Mosaic Company: Split-off and orderly distribution of Cargill’s 64% stake
      %li.resume-bullet UAL Corporation: Merger of United Airlines with Continental Airlines
      %li.resume-bullet TRW Automotive: Raised $1.3 billion of captial and liquidity through four equity offerings
